- name: Create local directory to store analytics content
  file:
    state: directory
    dest: "{{ analytics_docroot }}/{{ analytics_domain }}"
    mode: "755"

- name: Create local 'parent' directory to store information
  file:
    state: directory
    dest: "{{ item }}"
    mode: "755"
    owner: "www-data"
  loop:
    - "{{ analytics_box_dir }}"

- name: Create directory to store matomo logs
  file:
    state: directory
    dest: "/var/log/matomo"
    mode: "755"
    owner: "www-data"

- name: Place logrotate configuration file for Matomo logs
  template:
    dest: /etc/logrotate.d/matomo
    src: templates/logrotate-matomo

- name: Create database
  community.mysql.mysql_db:
    name: matomo
    encoding: utf8mb4
    state: present
    login_unix_socket: /var/run/mysqld/mysqld.sock

- name: Create database user
  community.mysql.mysql_user:
    name: "{{ analytics_username }}"
    priv: "{{ analytics_database }}.*:ALL"
    login_unix_socket: /var/run/mysqld/mysqld.sock

- name: Store Matomo's Salt
  template:
    src: templates/matomo.env.salt
    dest: "{{ analytics_box_dir }}/matomo.env.salt"

- name: Copy root scripts to server
  template:
    src: "templates/{{ item }}"
    dest: "/local/systems/{{ item }}"
    mode: "700"
  loop:
    - "update-analytics"
    - "update-geoip-db"

- name: Copy www scripts to the server
  template:
    src: "templates/{{ item }}"
    dest: "/local/systems/{{ item }}"
    mode: "700"
    owner: "www-data"
  loop:
    - "matomo-archive"

- name: Create a cron job to hourly update the software hourly
  cron:
    name: Run update-analytics hourly
    special_time: hourly
    job: /local/systems/update-analytics

- name: Create a cron job to archive matomo reports twice an hour
  cron:
    name: Run matomo-archive twice an hour
    minute: "15,45"
    job: /local/systems/matomo-archive
    user: "www-data"

- name: Create a cron job to run weekly to update the GeoIP Database
  cron:
    name: Run update-geoip-db weekly
    special_time: weekly
    job: /local/systems/update-geoip-db
